/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 3
Description:
- This is the UploadPage.scss file
In this file, the styles for UploadPage component are created
Diving Deeper Notes:
- Unable to figure out the Diving Deeper parts of Sprint 3
*/

//Import Global Partials Stylesheet
@import "../../styles/partials/global";

//Styles for upload
.upload {
  border-top: 1px solid $Mercury;
  padding: 0 $mobile-padding-between-components;

  //Styles for title
  &__title {
    padding-top: $mobile-padding-before-headlines;
    padding-bottom: $mobile-padding-after-headlines;
    font-family: "AvenirNext-Bold";
    @include text-styles(24px, 32px, 700);
  }

  //Styles for content
  &__content {
    padding-bottom: $mobile-padding-between-components;
  }
}

//Tablet Styles
@include tablet {
  .upload {
    padding: $desktop-padding-between-components;
    
    &__title {
      padding-top: $desktop-padding-before-headlines;
      padding-bottom: $desktop-padding-after-headlines;
      @include text-styles(33px, 44px, 700);
    }

    &__content {
      padding-bottom: $desktop-padding-between-components;
    }
  }
}