@import "../../styles/partials/global";

.mainVideo {
  background-color: $BrainFlix-DarkBlack;

  @include tablet {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include desktop {
    padding-left: 100px;
    padding-right: 100px;
  }
  &__video {
    aspect-ratio: 16/9;
    width: 100%;
  }
}