@import "../../styles/partials/global";

.mainVideo {
  background-color: $BrainFlix-DarkBlack;

  @include tablet {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include desktop {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  &__video {
    aspect-ratio: 16/9;
    width: 100%;
  }
}