@import "../../styles/partials/global";

.mainVideo {
  background-color: $BrainFlix-DarkBlack;

  @include tablet {
    padding: 0 3rem 0;
  }

  @include desktop {
    padding: 0 10rem 0;
  }
  
  &__video {
    aspect-ratio: 16/9;
    width: 100%;
  }
}