@import "../../styles/partials/global";

.commentsForm {
  padding: $mobile-padding-between-components 0 $mobile-padding-between-components;

  &__contentWrapper {
    padding: 0 $mobile-padding-between-components 0;

    &-content {
      padding-bottom: $mobile-padding-between-components;
      position: relative;
      padding-left: 4rem;
    }

    &-title {
      font-family: "AvenirNext-Bold";
      color: $Silver;
      @include text-styles(12px, 20px, 700);
    }
  }

  &__avatar {
    @include avatar-styles(36px,36px,50%);
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
  }

  &__form {
    &-input {
      height: 5rem;
      padding-bottom: 3rem;
      border: 1px solid $Mercury;
      border-radius: 4px;
      background-color: $Alabaster;
      margin-top: .5rem;
      width: 100%;
      font-family: 'AvenirNext-Bold';
      position: relative;
      @include text-styles(10px, 20px, 700);

      &::placeholder {
        color: $BrainFlix-Black;
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
    }

    &-submitButton {
      @include mobile-button-styles(40px,100%,4px,no-repeat,0.5rem);
      background-color: $BrainFlix-Blue;
      color: $White;
      background-image: url("../../assets/images/icons/add_comment.svg");
      margin-top: 1rem;
      font-family: 'AvenirNext-Bold';
      @include text-styles(10px,20px,700);
      &:hover        
      {
        background-color: $BrainFlix-DarkBlue;
      }
    }
  }
}

@include tablet {

  .commentsForm {
    padding: $desktop-padding-between-components 0;

    &-contentWrapper {
      &-content {
        padding-bottom: $desktop-padding-between-components;
      }
    }

    &__form {
      display: flex;

      &-input {
        padding-bottom: 0;
        height: 2.25rem;
        width: 80%;
        @include text-styles(12px, 20px, 700);
      }

      &-submitButton {
        width: 30%;
        margin: .5rem 0 0 1rem;
        @include text-styles(12px, 20px, 700);
      }
    }
    
    &__formAvatar {
      @include avatar-styles(40px,40px,50%);
    }
  }
}