/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 2
Description:
This is the CommentsForm.scss File
In this file, the styling of the Comments Form component
Diving Deeper Notes:
- I completed the Diving Deeper of Sprint 1, which is dynamic time for the video details and comment details
- Though, it was not asked, but, in a multi-page application with routes, added a Error page for any wrong routes
- Unable to figure out the Diving Deeper of Sprint 2 to make the Comments Form functional
*/

//Importing Global Partial Stylesheet
@import "../../styles/partials/global";


//Styles for Comments Form Section
.commentsForm {
  padding: $mobile-padding-between-components 0 $mobile-padding-between-components;

  //Styles for Content Wrapper
  &__contentWrapper {
    padding: 0 $mobile-padding-between-components 0;

    //Styles for Content
    &-content {
      padding-bottom: $mobile-padding-between-components;
      position: relative;
      padding-left: 4rem;
    }

    //Styles for Title
    &-title {
      font-family: "AvenirNext-Bold";
      color: $Silver;
      @include text-styles(12px, 20px, 700);
    }
  }

  //Styles for Avatar
  &__avatar {
    @include avatar-styles(36px,36px,50%);
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
  }

  //Styles for Form
  &__form {
    //Styles for Input
    &-input {
      height: 5rem;
      padding-bottom: 3rem;
      border: 1px solid $Mercury;
      border-radius: 4px;
      background-color: $Alabaster;
      margin-top: .5rem;
      width: 100%;
      font-family: 'AvenirNext-Bold';
      position: relative;
      @include text-styles(10px, 20px, 700);
      //Styles for Placeholder
      &::placeholder {
        color: $BrainFlix-Black;
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
      //Styles for when input is focused
      &:focus {
        border: 2px solid $BrainFlix-Blue;
      }
    }

    //Styles for Submit Button of Form
    &-submitButton {
      @include mobile-button-styles(40px,100%,4px,no-repeat,0.5rem);
      background-color: $BrainFlix-Blue;
      color: $White;
      background-image: url("../../assets/images/icons/add_comment.svg");
      margin-top: 1rem;
      font-family: 'AvenirNext-Bold';
      @include text-styles(10px,20px,700);
      border: none;
      //Styles for Submit Button Hover effort
      &:hover        
      {
        background-color: $BrainFlix-DarkBlue;
        cursor: pointer;
      }
    }
  }
}

//Tablet Resolution Styles
@include tablet {

  .commentsForm {
    padding: $desktop-padding-between-components 0;

    &-contentWrapper {
      &-content {
        padding-bottom: $desktop-padding-between-components;
      }
    }

    &__form {
      display: flex;

      &-input {
        padding-bottom: 0;
        height: 2.25rem;
        width: 80%;
        @include text-styles(12px, 20px, 700);
      }

      &-submitButton {
        width: 30%;
        margin: .5rem 0 0 1rem;
        @include text-styles(12px, 20px, 700);
      }
    }
    
    &__formAvatar {
      @include avatar-styles(40px,40px,50%);
    }
  }
}