/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 3
Description:
- This is the _fonts.scss file
In this file, All the fonts needed for the web application are declared
Diving Deeper Notes:
- Unable to figure out the Diving Deeper parts of Sprint 3
*/

//Font Face for the Regular Font for the website
@font-face
{
  font-family: 'AvenirNext-Regular';
  src: url('../../assets/fonts/AvenirNextLTPro.ttf');
  font-weight: normal;
  font-style: normal; 
}

//Font Face for the Bold Style Font for the website
@font-face
{
  font-family: 'AvenirNext-Bold';
  src: url('../../assets/fonts/AvenirNextLTProBold.ttf');
  font-weight: 700;
  font-style: normal;
}