@font-face
{
  font-family: 'AvenirNext-Regular';
  src: url('../../assets/fonts/AvenirNextLTPro.ttf');
  font-weight: normal;
  font-style: normal; 
}

@font-face
{
  font-family: 'AvenirNext-Bold';
  src: url('../../assets/fonts/AvenirNextLTProBold.ttf');
  font-weight: 700;
  font-style: normal;
}