/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 1
Description: This is the Fonts Styles - Partial SASS File
Diving Deeper Notes:
I was unable to figure out the Diving Deeper Section for this Sprint
*/

//Font Face for the Regular Font for the website
@font-face
{
  font-family: 'AvenirNext-Regular';
  src: url('../../assets/fonts/AvenirNextLTPro.ttf');
  font-weight: normal;
  font-style: normal; 
}

//Font Face for the Bold Style Font for the website
@font-face
{
  font-family: 'AvenirNext-Bold';
  src: url('../../assets/fonts/AvenirNextLTProBold.ttf');
  font-weight: 700;
  font-style: normal;
}