/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 1
Description: This is the Global Styles - Partials SASS File
Diving Deeper Notes:
I was unable to figure out the Diving Deeper Section for this Sprint
*/

//Import of Fonts Partial Stylesheet
@import './fonts';
//Import of Mixins Partial Stylesheet
@import './mixins';
//Import of Variables Partial Stylesheet
@import './variables';