/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 3
Description:
- This is the _global.scss
In this file, all helper partial stylesheets are imported into one file
Diving Deeper Notes:
- Unable to figure out the Diving Deeper parts of Sprint 3
*/

//Import of Fonts Partial Stylesheet
@import './fonts';
//Import of Mixins Partial Stylesheet
@import './mixins';
//Import of Variables Partial Stylesheet
@import './variables';