@import './variables';

@mixin text-styles($font-size, $line-height, $font-weight)
{
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin tablet
{
  @media screen and (min-width: $tablet-breakdown) 
  {
    @content;
  }
}

@mixin desktop
{
  @media screen and (min-width: $desktop-breakdown)
  {
    @content;
  }
}