/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 3
Description:
- This is the _mixins.scss file
In this file, Mixins are declared
Diving Deeper Notes:
- Unable to figure out the Diving Deeper parts of Sprint 3
*/

//Import of Variables Partial Stylesheet
@import './variables';

//Mixin for All Avatar Images
@mixin avatar-styles($width, $height, $border-radius)
{
  width: $width;
  height: $height;
  border-radius: $border-radius;
}

//Mixin for Text Styles
@mixin text-styles($font-size, $line-height, $font-weight)
{
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

//Mixin for the Mobile Resolution Button Styles
@mixin mobile-button-styles($height, $width, $border-radius, $background-repeat, $background-position)
{
  height: $height;
  width: $width;
  border-radius: $border-radius;
  background-repeat: $background-repeat;
  background-position: $background-position;
}

//Mixin for the Table Resolution
@mixin tablet
{
  @media screen and (min-width: $tablet-breakdown) 
  {
    @content;
  }
}

//Mixin for the Desktop Resolution
@mixin desktop
{
  @media screen and (min-width: $desktop-breakdown)
  {
    @content;
  }
}