/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 3
Description:
- This is the _variables.scss
In this file, all variables needed for this web application are declared and initialized
Diving Deeper Notes:
- Unable to figure out the Diving Deeper parts of Sprint 3
*/

/*
All the Colors needed for the website
*/
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Silver: #AFAFAF;
$White: #FFFFFF;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

/*
All the Padding Styles needed for the website
*/
$desktop-padding-before-headlines: 2.25rem;
$desktop-padding-after-headlines: 1.5rem;
$desktop-padding-between-components: 1.5rem;
$mobile-padding-before-headlines: 1.5rem;
$mobile-padding-after-headlines: 1rem;
$mobile-padding-between-components: 1rem;

/*
Tablet and Desktop Resolution Breakdown Styles
*/
$tablet-breakdown: 768px; 
$desktop-breakdown: 1280px;