$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Silver: #AFAFAF;
$White: #FFFFFF;

$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

$desktop-padding-before-headlines: 36px;
$desktop-padding-after-headlines: 24px;
$desktop-padding-between-components: 24px;

$mobile-padding-before-headlines: 24px;
$mobile-padding-after-headlines: 16px;
$mobile-padding-between-components: 16px;