/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 3
Description:
- This is the MainPage.scss file
In this file, the styling of MainPage component is found
Diving Deeper Notes:
- Unable to figure out the Diving Deeper parts of Sprint 3
*/

//Importing Global Partial Stylesheet
@import "../../styles/partials/global";

//Desktop Resolution Styles
@include desktop {
  .mainPageContent {
    display: flex;

    &__leftPanel {
      border-right: 1px solid $Mercury;
    }
  }
}