/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 1
Description: This is the Main Page SASS File
Diving Deeper Notes:
I was unable to figure out the Diving Deeper Section for this Sprint
*/

//Importing Global Partial Stylesheet
@import "../../styles/partials/global";

//Desktop Resolution Styles
@include desktop {
  .mainPageContent {
    display: flex;

    &__leftPanel {
      border-right: 1px solid $Mercury;
    }
  }
}