/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 2
Description:
This is the MainVideoComment.scss File
In this file, the styling of each Main Video Comment
Diving Deeper Notes:
- I completed the Diving Deeper of Sprint 1, which is dynamic time for the video details and comment details
- Though, it was not asked, but, in a multi-page application with routes, added a Error page for any wrong routes
- Unable to figure out the Diving Deeper of Sprint 2 to make the Comments Form functional
*/

//Importing Global Partial Stylesheet
@import "../../styles/partials/global";

//Styles for Main Video Comment Section
.mainVideoComment {
  display: flex;
  border-top: 1px solid $Mercury;
  padding: $mobile-padding-between-components 0;

  //Styles for Avatar Wrapper
  &__avatarWrapper {
    padding-right: $mobile-padding-between-components;

    //Styles for Avatar
    &-avatar {
      @include avatar-styles(36px,36px,50%);
      background-color: $Mercury;
    }
  }

  //Styles for Comment Content
  &__commentContent {
    width: 100%;

    //Styles for Comment Section - Heade
    &-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: $mobile-padding-between-components;

      //Styles for Comment Title
      &__title {
        font-family: "AvenirNext-Bold";
        @include text-styles(13px, 18px, 700);
      }

      //Styles for Comment Date
      &__date {
        color: $Silver;
      }
    }

    //Common Styles for Date and Comment
    &-header__date, &-comment {
      @include text-styles(13px, 18px, 400);
    }
  }
}

//Tablet Resolution Styles
@include tablet {
  .mainVideoComment {
    padding: $desktop-padding-between-components 0;

    &__avatarWrapper {
      padding-right: $desktop-padding-between-components;

      &-avatar {
        @include avatar-styles(40px,40px,50%);
      }
    }

    &__commentContent-header {
      padding-bottom: $desktop-padding-between-components;

      &__title {
        @include text-styles(14px, 22px, 700);
      }
    }

    &__commentContent-header__date, &__commentContent-comment {
      @include text-styles(14px, 22px, 400);
    }
  }
}