/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 2
Description:
This is the MainVideoCommentsList.scss File
In this file, the styling of Main Video Comments List component
Diving Deeper Notes:
- I completed the Diving Deeper of Sprint 1, which is dynamic time for the video details and comment details
- Though, it was not asked, but, in a multi-page application with routes, added a Error page for any wrong routes
- Unable to figure out the Diving Deeper of Sprint 2 to make the Comments Form functional
*/

//Importing Global Partial Stylesheet
@import "../../styles/partials/global";

//Styles for Main Video Comments List Section
.mainVideoCommentsList {
  padding: 0 $mobile-padding-between-components 0;
}

//Tablet Resolution Styles
@include tablet {
  .mainVideoCommentsList {
    padding: 0 $desktop-padding-between-components 0;
  }
}