/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 3
Description:
- This is the MainVideoCommentsList.scss file
In this file, the styling of MainVideoCommentsList component is found
Diving Deeper Notes:
- Unable to figure out the Diving Deeper parts of Sprint 3
*/

//Importing Global Partial Stylesheet
@import "../../styles/partials/global";

//Styles for Main Video Comments List Section
.mainVideoCommentsList {
  padding: 0 $mobile-padding-between-components 0;
}

//Tablet Resolution Styles
@include tablet {
  .mainVideoCommentsList {
    padding: 0 $desktop-padding-between-components 0;
  }
}