@import "../../styles/partials/global";

.mainVideoInfo {
  width: 100%;

  &__content {
    padding: 0 $mobile-padding-between-components;
  }

  &__title {
    padding: $mobile-padding-before-headlines 0 $mobile-padding-after-headlines;
    border-bottom: 1px solid $Mercury;
    font-family: "AvenirNext-Bold";
    @include text-styles(24px, 32px, 700);
  }

  &__numComments {
    font-family: "AvenirNext-Bold";
    @include text-styles(13px, 18px, 700);
  }

  &__baseStatics, &__description {
    @include text-styles(13px, 18px, 400);
  }

  &__baseStatistics, &__description {
    padding: $mobile-padding-between-components 0;
  }

  &__baseStatistics {
    border-bottom: 1px solid $Mercury;
    display: flex;
    justify-content: space-between;

    &-likesWrapper, &-date, &-viewsWrapper {
      color: $Silver;
    }

    &-channel, &-viewsWrapper {
      padding-bottom: $mobile-padding-between-components;
    }
    
    &-channel {
      font-family: "AvenirNext-Bold";
      font-weight: 700;
    }

    &-viewsIcon {
      padding-right: .5rem;
    }

    &-likesIcon {
      padding-right: $mobile-padding-between-components;
    }
  }
}

@include tablet {
  .mainVideoInfo{

    &__content {
      padding: 0 $desktop-padding-between-components;
    }

    &__title, &__baseStatistics {
      padding-bottom: 0;
    }

    &__title {
      border-bottom: none;
      @include text-styles(33px, 44px, 700);
    }

    &__baseStatistics, &__description {
      @include text-styles(14px, 22px, 400);
    }

    &__baseStatistics {
      &-leftSide, &-rightSide {
        display: flex;
      }

      &-date, &-likesWrapper {
        padding-left: $mobile-padding-between-components;
      }
    }

    &__numComments {
      @include text-styles(14px, 22px, 700);
    }
  }
}

@include desktop {
  .mainVideoInfo__description {
    padding: $desktop-padding-between-components 0 $desktop-padding-before-headlines;
  }

  .mainVideoInfo__numComments {
    padding-bottom: $desktop-padding-between-components;
  }

  .mainVideoInfo__title {
    padding: $desktop-padding-before-headlines 0 $desktop-padding-after-headlines;
  }
}