@import "../../styles/partials/global";

.header {
  padding: 0px $mobile-padding-between-components;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 0px $desktop-padding-between-components;
  }

  &__brainFlixLogoWrapper {
    padding: $mobile-padding-between-components 0px;

    @include tablet {
      padding: $desktop-padding-between-components 0px;
    }
    &-logo {
      height: 25px;
      width: 120px;
    }
  }

  &__mainNavigation {
    @include tablet {
      display: flex;
      padding: $desktop-padding-between-components 0px;
    }
  }

  &__search {
    display: flex;
    justify-content: space-between;
    padding-bottom: $mobile-padding-between-components;

    @include tablet {
      padding-right: $desktop-padding-between-components;
    }
  }

  &__searchInput {
    height: 40px;
    width: 75%;
    border-radius: 4px;
    border: 1px solid $Silver;
    background: url("../../assets/images/icons/search.svg") no-repeat left;
    padding-left: 25px;
    font-family: 'AvenirNext-Bold';
    @include text-styles(10px, 20px, 700);
    
    &::placeholder {
      color: $BrainFlix-Black;
    }

    @include tablet {
      width: 150px;
    }
  }

  &__profilepicWrapper {
    @include tablet {
      display: none;
    }
  }

  &__profilePic {
    border-radius: 50%;
    width: 36px;
    height: 36px;

    @include tablet {
      width: 40px;
      height: 40px;
    }
  }

  &__upload {
    padding-bottom: $mobile-padding-between-components;

    @include tablet {
      display: flex;
    }
  }

  &__uploadButton {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    background-color: $BrainFlix-Blue;
    color: $White;
    background-image: url("../../assets/images/icons/upload.svg");
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'AvenirNext-Bold';
    @include text-styles(10px, 20px, 700);

    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }

    @include tablet {
      width: 150px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &__uploadProfilePicWrapper {
    display: none;

    @include tablet {
      display: block;
      padding-left: $desktop-padding-between-components;
    }
  }
}