/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 3
Description:
- This is the Header.scss file
In this file, the styling of Header component is found
Diving Deeper Notes:
- Unable to figure out the Diving Deeper parts of Sprint 3
*/

//Importing Global Partial Stylesheet
@import "../../styles/partials/global";

//Styles of Main Header
.mainHeader {
  padding: 0px $mobile-padding-between-components;

  //Common Styles of Logo and Search Wrapper
  &__logoWrapper, &__searchWrapper {
    display: flex;
  }

  //Styles of Logo Wrapper
  &__logoWrapper {
    padding: $mobile-padding-between-components 0px;
    justify-content: center;

    //Styles of Logo Image
    &-logoImg {
      height: 25px;
      width: 120px;
    }
  }

  //Styles of Search Wrapper
  &__searchWrapper {
    justify-content: space-between;
    align-items: center;
    padding-bottom: $mobile-padding-between-components;

    //Styles of Input
    &-input {
      height: 40px;
      width: 75%;
      border-radius: 4px;
      border: 1px solid $Silver;
      background: url("../../assets/images/icons/search.svg") no-repeat;
      background-color: $Alabaster;
      background-position: 1rem;
      padding-left: 1.5rem;
      font-family: 'AvenirNext-Bold';
      position: relative;

      //Styles of PlaceHolder
      &::placeholder
      {
        color: $BrainFlix-Black;
        position: absolute;
        left: 2.5rem;
      }
    }
  }

  //Common Styles of Input and upload Button
  &__searchWrapper-input, &__uploadWrapper-uploadBtn {
    @include text-styles(10px, 20px, 700);
  }

  //Styles of Profile Wrapper
  &__profileWrapper {
    &-profileImg {
      @include avatar-styles(36px,36px,50%);
    }
  }

  //Styles of Upload Wrapper
  &__uploadWrapper {
    padding-bottom: $mobile-padding-between-components;

    //Styles of Upload Button
    &-uploadBtn {
      @include mobile-button-styles(40px, 100%, 4px, no-repeat, 0.5rem);
      background-color: $BrainFlix-Blue;
      color: $White;
      background-image: url("../../assets/images/icons/upload.svg");
      font-family: 'AvenirNext-Bold';
      border: none;

      //Styles of Hover Effort of Upload Button
      &:hover {
        background-color: $BrainFlix-DarkBlue;
        cursor: pointer;
      }
    }

    //Styles of Upload Profile Wrapper
    &-uploadProfileWrapper {
      display: none;
    }
  }
}

//Table Resolution Styles
@include tablet {
  .mainHeader, .mainHeader__navigation, .mainHeader__uploadWrapper {
    display: flex;
    align-items: center;
  }

  .mainHeader {
    justify-content: space-between;
    padding: 0px $desktop-padding-between-components;

    &__logoWrapper, &__navigation {
      padding: $desktop-padding-between-components 0px;
    }

    &__searchWrapper {
      padding-right: $desktop-padding-between-components;

      &-input {
        width: 150px;
      }
    }

    &__profileWrapper {
      display: none;
    }

    &__uploadWrapper {
      &-uploadBtn {
        width: 150px;
        padding-left: 2rem;
        padding-right: 2rem;
      }

      &-uploadProfileWrapper {
        display: block;
        padding-left: $desktop-padding-between-components;
      }

      &-uploadProfileImg {
        @include avatar-styles(40px,40px,50%);
      }
    }
  }
}