@import "../../styles/partials/global";

.header {
  padding: 0px $mobile-padding-between-components;

  &__brainFlixLogoWrapper {
    padding: $mobile-padding-between-components 0px;
    display: flex;
    justify-content: center;

    &-logo {
      height: 25px;
      width: 120px;
    }
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $mobile-padding-between-components;
  }

  &__searchInput {
    height: 40px;
    width: 75%;
    border-radius: 4px;
    border: 1px solid $Silver;
    background: url("../../assets/images/icons/search.svg") no-repeat;
    background-color: $Alabaster;
    background-position: 1rem;
    padding-left: 25px;
    font-family: 'AvenirNext-Bold';
    position: relative;
    @include text-styles(10px, 20px, 700);
    
    &::placeholder {
      color: $BrainFlix-Black;
      position: absolute;
      left: 2.5rem;
    }
  }

  &__profilePic {
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }

  &__upload {
    padding-bottom: $mobile-padding-between-components;
  }

  &__uploadButton {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    background-color: $BrainFlix-Blue;
    color: $White;
    background-image: url("../../assets/images/icons/upload.svg");
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'AvenirNext-Bold';
    @include text-styles(10px, 20px, 700);

    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }
  }

  &__uploadProfilePicWrapper {
    display: none;
  }
}

@include tablet {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px $desktop-padding-between-components;

    &__brainFlixLogoWrapper {
      padding: $desktop-padding-between-components 0px;
    }

    &__mainNavigation {
      display: flex;
      align-items: center;
      padding: $desktop-padding-between-components 0px;
    }

    &__search {
      padding-right: $desktop-padding-between-components;
    }

    &__searchInput {
      width: 150px;
    }

    &__profilepicWrapper {
      display: none;
    }

    &__profilePic {
      width: 40px;
      height: 40px;
    }

    &__upload {
      display: flex;
      align-items: center;
    }

    &__uploadButton {
      width: 150px;
      padding-left: $desktop-padding-between-components;
      padding-right: $desktop-padding-between-components;
    }

    &__uploadProfilePicWrapper {
      display: block;
      padding-left: $desktop-padding-between-components;
    }
  }
}