@import "../../styles//partials/global";

.errorPage {

  text-align: center;

  &__title {
    padding: $mobile-padding-before-headlines 0 $mobile-padding-after-headlines;
    font-family: "AvenirNext-Bold";
    @include text-styles(24px, 32px, 700);
  }

  &__homeBtn {
    height: 40px;
    width: 100%;
    background-color: $White;
    color: $BrainFlix-Blue;
    border: none;
    font-family: 'AvenirNext-Bold';
    margin-top: $mobile-padding-between-components;
    @include text-styles(10px, 20px, 700);
    //Styles of Hover Effort of Upload Button
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}