/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 2
Description:
This is the UploadComponent.scss File
In this file, the styling of the upload component
Diving Deeper Notes:
- I completed the Diving Deeper of Sprint 1, which is dynamic time for the video details and comment details
- Though, it was not asked, but, in a multi-page application with routes, added a Error page for any wrong routes
- Unable to figure out the Diving Deeper of Sprint 2 to make the Comments Form functional
*/

//Import Global Partials Stylesheet
@import "../../styles/partials/_global.scss";

//Styles for upload Form
.uploadForm {
  display: flex;
  flex-direction: column;

  //Styles for the title
  &__title {
    font-family: "AvenirNext-Bold";
    color: $Silver;
    @include text-styles(12px, 20px, 700);
    padding-bottom: 4px;
  }

  //Styles for the image
  &__image {
    width: 100%;
    border-radius: 4px;
    margin-bottom: $mobile-padding-between-components;
  }

  //Styles for the video title and description title
  &__videoTitle, &__descTitle {
    color: $Silver;
    font-family: "AvenirNext-Bold";
    @include text-styles(12px, 22px, 700);
  }
  
  //Styles for the description input
  &__descInp {
    height: 36px;
    padding-bottom: 3rem;
    border: 1px solid $Mercury;
    border-radius: 4px;
    background-color: $Alabaster;
    width: 100%;
    font-family: 'AvenirNext-Bold';
    position: relative;
    @include text-styles(10px, 20px, 700);
    //Styles for Placeholder
    &::placeholder {
      color: $BrainFlix-Black;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
    //Styles for when input is focused
    &:active {
      border: 2px solid $BrainFlix-Blue;
    }
  }

  //Styles for the video title input
  &__videoTitleInp {
    width: 100%;
    height: 2rem;
    margin-bottom: $mobile-padding-between-components;
    border: 1px solid $Mercury;
    border-radius: 4px  ;
    background-color: $Alabaster;
    font-family: 'AvenirNext-Bold';
    position: relative;
    @include text-styles(10px, 20px, 700);

    //Styles for Placeholder
    &::placeholder {
      color: $BrainFlix-Black;
      position: absolute;
      top: 0.75rem;
      left: 1rem;
    }

    &:active {
      border: 2px solid $BrainFlix-Blue;
    }
  }

  //Styles for publish button
  &__publish {
    @include mobile-button-styles(40px, 100%, 4px, no-repeat, 0.5rem);
      background-color: $BrainFlix-Blue;
      color: $White;
      background-image: url("../../assets/images/icons/publish.svg");
      font-family: 'AvenirNext-Bold';
      @include text-styles(10px, 20px, 700);
      margin-top: $mobile-padding-between-components;
      border: none;

      //Styles of Hover Effort of Publish Button
      &:hover {
        background-color: $BrainFlix-DarkBlue;
        cursor: pointer;
      }
  }

  //Styles for the cancel button
  &__cancel {
    height: 40px;
    width: 100%;
    background-color: $White;
    color: $BrainFlix-Blue;
    border: none;
    font-family: 'AvenirNext-Bold';
    margin-top: $mobile-padding-between-components;
    @include text-styles(10px, 20px, 700);
    //Styles of Hover Effort of Cancel Button
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__invalidInput {
    border: 1px solid #D22D2D;
  }
}

//Tablet styles
@include tablet {
  .uploadForm {

    &__topContent {
      display: flex;
      flex-direction: column;
      border-top: 1px solid $Mercury;
      border-bottom: 1px solid $Mercury;
      padding: $desktop-padding-between-components 0;
    }

    &__image {
      width: 50%;
      margin-bottom: $desktop-padding-between-components;  
    }

    &__descInp {
      @include text-styles(12px, 20px, 700);
    }
  
    &__videoTitleInp {
      @include text-styles(12px, 20px, 700);
    }

    &__buttons {
      display: flex;
      flex-direction: row-reverse;
    }
    &__publish {
      @include mobile-button-styles(40px, 150px, 4px, no-repeat, 0.5rem);
      margin-top: $desktop-padding-between-components;
      @include text-styles(12px, 20px, 700);
    }
  
    &__cancel {
      width: 150px;
      margin-top: $desktop-padding-between-components;
      @include text-styles(12px, 20px, 700);
    }
  }
}

//Desktop styles
@include desktop {
  .uploadForm {
    &__topContent {
      flex-direction: row;
    }

    &__leftContent {
      width: 25%;
      padding-right: $desktop-padding-between-components;
    }

    &__image {
      width: 100%;
    }

    &__rightContent {
      width: 75%;
    }
  }
}