@import "../../styles/partials/global";

.nextVideosList {
  border-top: 1px solid $Mercury;
  padding: 0 $mobile-padding-between-components $mobile-padding-between-components;

  &__title {
    font-family: "AvenirNext-Bold";
    @include text-styles(12px, 20px, 700);
    color: $Silver;
    padding: $mobile-padding-before-headlines 0 $mobile-padding-after-headlines;
  }

  &__mainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@include tablet {
  .nextVideosList {
    padding: 0 $desktop-padding-between-components $desktop-padding-between-components;

    &__title {
      padding: $desktop-padding-before-headlines 0 $desktop-padding-after-headlines;
    }

    &__mainContent {
      gap: 3rem;
    }
  }
}

@include desktop {
  .nextVideosList {
    &__mainContent {
      gap: 1rem;
    }
  }
}