/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 2
Description:
This is the NextVideoList.scss File
In this file, the styling of the Next Video List component
Diving Deeper Notes:
- I completed the Diving Deeper of Sprint 1, which is dynamic time for the video details and comment details
- Though, it was not asked, but, in a multi-page application with routes, added a Error page for any wrong routes
- Unable to figure out the Diving Deeper of Sprint 2 to make the Comments Form functional
*/

//Import Global Partials Stylesheet
@import "../../styles/partials/global";

//Styles for the Next Videos List
.nextVideosList {
  border-top: 1px solid $Mercury;
  padding: 0 $mobile-padding-between-components $mobile-padding-between-components;

  //Styles for the Main Title of the section
  &__title {
    font-family: "AvenirNext-Bold";
    @include text-styles(12px, 20px, 700);
    color: $Silver;
    padding: $mobile-padding-before-headlines 0 $mobile-padding-after-headlines;
  }

  //Styles for the Main Content of the section
  &__mainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

//Table Resolution Styles
@include tablet {
  .nextVideosList {
    padding: 0 $desktop-padding-between-components $desktop-padding-between-components;

    &__title {
      padding: $desktop-padding-before-headlines 0 $desktop-padding-after-headlines;
    }

    &__mainContent {
      gap: 3rem;
    }
  }
}

//Desktop Resolution Styles
@include desktop {
  .nextVideosList {
    &__mainContent {
      gap: 1rem;
    }
  }
}