/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 3
Description:
- This is the App.scss file
In this file, global styles are created
Diving Deeper Notes:
- Unable to figure out the Diving Deeper parts of Sprint 3
*/

//Importing global partial styles
@import './styles/partials/global';

//Global Styles
* {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext-Regular';
  font-weight: normal;
  font-style: normal;
  color: $BrainFlix-DarkBlack;
}