/*
Name: Anurag Bhattacharya
Project: BrainFlix - Sprint 1
Description: This is the App SASS File
Diving Deeper Notes:
I was unable to figure out the Diving Deeper Section for this Sprint
*/

//Importing global partial styles
@import './styles/partials/global';

//Global Styles
* {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext-Regular';
  font-weight: normal;
  font-style: normal;
  color: $BrainFlix-DarkBlack;
}